body{
      background:black;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
}
.form-box{
background-color: rgb(110, 102, 102);
padding: 30px;
border-radius: 10px;
width: 300px;
}

.form-box h2{
    text-align: center;;
}

.form-box input{
    display: block;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
}

.form-box button{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(6, 6, 6);
    color: white;
    cursor: pointer;
}